<div 
    class="container-md mx-auto col-md-9 mt-3"
    style="background: #ffffff"
    >
    <form id="formComunityPage" class="border">
        <div class="col m-3">
            <div class="row">
                <div class="col-8">
                    <div class="d-flex">
                        <h3>
                            Группа
                            <label class="" id="comunityName"></label>
                        </h3>
                    </div>
                </div>
                <div class="col-4 gap-3 d-flex justify-content-end">
                    <button class="btn btn-primary d-none" type="button" id="btnCreate">Написать пост</button>
                    <button class="btn btn-primary" type="button" id="btnSub">Подписаться</button>
                </div>
            </div>
            <div class="row mt-3">
                <div>
                    <i class="bi bi-people-fill"></i>
                    <label id="countSub"></label>
                    <label>подписчиков</label>
                </div>
            </div>
            <div class="row mt-3">
                <div>
                    <label class="form-label">Тип сообщества:</label>
                    <label class="form-label" id="typeComunity"> открытое</label>
                </div>
            </div>
            <div class="row mt-3">
                <h5>Администраторы</h5>
            </div>
            <div class="row" id="AdminsContainer">

            </div>
        </div>
    </form>
    <form id="formComunityPage" class="border mt-3">
        <div class="row px-3 pt-3 m-0" style="background: #f5f5f5; height: 50px;">Фильтры</div><hr class="m-0">
        <div class="row mx-3 gap-4 my-3">
            <div class="col">
                <div class="row">
                    <label for="inputSort" class="form-label ps-0">Сортировать</label>
                        <select class="form-select" id="inputSort" name="sort">
                            <option value="createDesc">По дате создания (сначала новые)</option>
                            <option value="createAsc">По дате создания (сначала старые)</option>
                            <option value="likeDesc">Количество лайков (по убыванию)</option>
                            <option value="likeAsc">Количество лайков (по возрастанию)</option>
                        </select>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <label for="searchByTag" class="form-label ps-0">Поиск по тэгам</label>
                    <div id="scrollContainer" class="form-control overflow-auto" style="max-height: 85px; cursor: pointer;"></div>
                </div>
            </div>
        </div>
        <div class="row mb-3 mt-3 mx-3 d-flex justify-content-end">
            <button class="btn btn-primary" type="button" id="btnApply" style="width: 124px;">Применить</button>
        </div>
    </form>
    <div id="postContainer">
        
    </div>
    <div class="col mt-3 mb-3">
        <div class="row">
            <div class="col d-flex justify-content-start mt-4" id="paginationContainer">
                <nav>
                    <div class="">
                        <ul class="pagination pagination-sm">
                            <li class="page-item">
                                <button class="page-link" id="prevPage" aria-label="Previous">&laquo;</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="1">1</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="2">2</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="3">3</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" id="nextPage" aria-label="Next">&raquo;</button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <label class="col p-0"></label>
            <div class="col p-0 me-2">
                <div class="d-flex justify-content-end me-2">Число постов на странице</div>
                <div class="d-flex justify-content-end me-1">
                    <select class="form-select" id="countPostOnPage" name="countPost" style="width: 206px;">
                        <option value="1" id="countOne">1</option>
                        <option value="2" id="countTwo">2</option>
                        <option value="3" id="countThree">3</option>
                        <option value="4" id="countFour">4</option>
                        <option value="5" id="countFive">5</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<template id="admin-template">
    <div class="row mt-2">
        <div class="col-1 p-0">
            <div class="row position-relative">
                <img id="peopleImage" src="" class="img-fluid rounded-circle">
            </div>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="d-flex">
                    <h6 class="form-label me-1 pt-1 admin-name" style="font-size: 1.1rem;"></h6>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="post-template">
    <form class="border-top border-start border-end mt-3">
        <div class="row">
            <div class="ps-4 ms-1">
                <label class="form-label pe-0 mt-2 author"></label>
                <label class="form-label date"></label>
                <label class="form-label"></label>
                <label class="form-label community-name"></label>
            </div>
            <div>
                <h4><label class="p-2 ps-3 title" style="cursor: pointer; width: 100%; overflow-wrap: anywhere;"></label></h4>
                <hr class="mx-3">
            </div>
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <img id="image" src="" class="px-5 form-label image img-fluid" style="max-height: 500px;"></img>
                </div>
            </div>
            <div>
                <div class="ms-3 pe-3 mt-1 mb-1">
                    <label for="descriptions" class="form-label description" style="width: 100%; overflow-wrap: anywhere; overflow-y: hidden; height: 20px; max-height: 50px; transition: max-height 0.3s ease, height 0.3s ease;"></label>
                    <i class="toggleButton text-primary text-decoration-none" id="toggleButton-[ID]" style="margin-top: 10px; cursor: pointer;">Читать полностью</i>
                </div>
                </div>
            </div>
            <div class="ms-3 mt-1">
                <div class="pe-2">
                    <div class="hashtags-container pe-4" id="hashtags-container" style="width: 100%; overflow-wrap: anywhere;"></div>
                </div>
            </div>
            <div class="ms-3 mt-1">
                <label for="readTime" class="form-label mt-1 reading-time"></label>
            </div>
            <div>
                <div class="col border p-0" style="background: #f5f5f5; height: 30px;">
                    <div class="row">
                        <div class="col ms-3 ps-2">
                            <i class="comments-count ms-1"></i>
                            <i class="bi bi-chat-left-text chatIcn" id="chatImg-[ID]" style="cursor: pointer;"></i>
                        </div>
                        <div class="col"></div>
                        <div class="col">
                            <div class="d-flex justify-content-end me-2">
                                <i id="countLikesInput"><span style="font-size: 1.0rem;" class="likes-count"></span></i>
                                <i class="bi bi-heart heartImg mx-1"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
