<div 
    class="container-md mx-auto col-lg-9 mt-3"
    style="background: #ffffff"
    >
    <form id="createField">
        <div class="border rounded p-3">
            <div class="row">
                <h4 class="mt-1">Написать новый пост</h4>
                <div class="col-9">
                    <label for="inputByTitle" class="form-label">Название</label>
                    <input type="text" id="inputByTitle" class="form-control" name="title" required>
                </div>
                <div class="col-3">
                    <label for="searchByTime" class="form-label">Время чтения</label>
                    <input type="text" id="searchByTime" class="form-control" name="readingTime" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="chooseComunity" class="form-label">Группа</label>
                    <select class="form-select" id="chooseComunity" name="">
                        <option value="">Без группы</option>
                    </select>
                </div>
                <div class="col">
                    <label for="searchByTag" class="form-label">Тэги</label>
                    <div id="scrollContainer" class="form-control overflow-auto" style="max-height: 85px; cursor: pointer;" name="tags" required></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inputByLink" class="form-label">Ссылка на картинку</label>
                    <input type="text" id="inputByLink" class="form-control" name="image">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inputByLink" class="form-label">Текст</label>
                    <textarea class="form-control" id="textArea" rows="8" name="description" required></textarea>
                </div>
            </div>
            <div class="row mt-3" id="addressContainer">
                <h4>Адрес</h4>
                <div class="col mx-2">
                    <div class="row">
                        <label for="inputByRegion" class="form-label p-1">Субъект РФ</label>
                        <select class="form-select" id="chooseRegion" name="regionId">
                            <option value="">Не выбран</option>
                        </select>
                    </div>
                    <div class="row mt-3 d-none" id="city">
                        <label for="inputByCity" class="form-label p-1">Следующий элемент адреса</label>
                        <select class="form-select" id="chooseCity" name="cityId">
                            <option value="">Не выбран</option>
                        </select>
                    </div>
                    <div class="row mt-3 d-none" id="street">
                        <label for="inputByStreet" class="form-label p-1">Следующий элемент адреса</label>
                        <select class="form-select" id="chooseStreet" name="streetId">
                            <option value="">Не выбран</option>
                        </select>
                    </div>
                    <div class="row mt-3 d-none" id="building">
                        <label for="inputByBuild" class="form-label p-1">Следующий элемент адреса</label>
                        <select class="form-select" id="chooseBuilding" name="buildingId">
                            <option value="">Не выбран</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-1">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="text-center mt-2 d-none" id="createPostMessage"></div>
                </div>
                <div class="col-4 text-end">
                    <button class="btn btn-primary" type="button" id="btnCreate" >Создать пост</button>
                </div>
            </div>
        </div>
    </form>
</div>