<div 
    class="container-md mx-auto rounded col-md-9 mt-3"
    style="background: #ffffff"
    >

    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-primary float-end d-none" type="button" id="btnCreate" style="width: 140px;">Написать пост</button>
    </div>
    <form id="formMinePage" class="border">
        <div class="row px-3 pt-3 m-0" style="background: #f5f5f5; height: 50px;">Фильтры</div><hr class="m-0">
        <div class="row gap-3 mt-4">
            <div class="col p-3">
                <div class="row ps-4">
                    <label for="searchByName" class="form-label ps-0">Поиск по имени автора</label>
                    <input type="text" id="searchByName" class="form-control">
                </div>
                <div class="row mt-3">
                    <div class="col-8 mt-5 p-0 ps-4">
                        <label for="inputSort" class="form-label">Сортировать</label>
                        <select class="form-select" id="inputSort" name="sort">
                            <option value="createDesc">По дате создания (сначала новые)</option>
                            <option value="createAsc">По дате создания (сначала старые)</option>
                            <option value="likeDesc">Количество лайков (по убыванию)</option>
                            <option value="likeAsc">Количество лайков (по возрастанию)</option>
                        </select>
                    </div>
                    <div class="col-4 mt-5 p-0 ps-3">
                        <label for="readingTimeFrom" class="form-label">Время чтения от</label>
                        <input type="text" id="readingTimeFrom" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col p-3">
                <div class="row p-0 pe-4">
                    <label for="searchByTag" class="form-label ps-0">Поиск по тэгам</label>
                    <div id="scrollContainer" class="form-control overflow-auto" style="max-height: 85px; cursor: pointer;"></div>
                </div>
                <div class="row gap-3">
                    <div class="col mt-3 p-0">
                        <label for="readingTimeTo" class="form-label">Время чтения до</label>
                        <input type="text" id="readingTimeTo" class="form-control">
                    </div>
                    <div class="col mt-4 pt-4 p-0 px-2">
                        <input class="form-check-input" type="checkbox" value="" id="customCheck">
                        <label for="myGroup" class="form-label" style="width: 100px;">Мои группы</label>
                    </div>
                    <div class="col mt-3 pt-4 p-0 ps-4 pe-4">
                        <button class="btn btn-primary" type="button" id="btnApply" style="width: 124px;">Применить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="postContainer">
        
    </div>
    <div class="col mt-3 mb-3">
        <div class="row">
            <div class="col-1 d-flex justify-content-center mt-4 ms-4" id="paginationContainer">
                <nav>
                    <div class="ms-5">
                        <ul class="pagination pagination-sm ms-5">
                            <li class="page-item">
                                <button class="page-link" id="prevPage" aria-label="Previous">&laquo;</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="1">1</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="2">2</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" data-page="3">3</button>
                            </li>
                            <li class="page-item">
                                <button class="page-link" id="nextPage" aria-label="Next">&raquo;</button>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <label class="col-7 p-0"></label>
            <div class="col-3 p-0 ms-5 ps-4">
                <div class="ps-1 ms-2">Число постов на странице</div>
                <select class="form-select ms-2" id="countPostOnPage" name="countPost" style="width: 206px;">
                    <option value="1" id="countOne">1</option>
                    <option value="2" id="countTwo">2</option>
                    <option value="3" id="countThree">3</option>
                    <option value="4" id="countFour">4</option>
                    <option value="5" id="countFive">5</option>
                </select>
            </div>
        </div>
    </div>
</div>

<template id="post-template">
    <form class="border-top border-start border-end mt-3">
        <div class="row">
            <div>
                <label class="form-label p-2 ps-3 pe-0 mt-2 author"></label>
                <label class="form-label date"></label>
                <label class="form-label">в сообществе</label>
                <label class="form-label community-name"></label>
            </div>
            <div>
                <h4><label class="p-2 ps-3 title"></label></h4>
                <hr class="mx-3">
            </div>
            <div class="ms-3 pe-5 mt-1 mb-1">
                <label for="descriptions" class="form-label description"></label>
            </div>
            <div class="ms-3 mt-1">
                <div class="hashtags-container" id="hashtags-container"></div>
            </div>
            <div class="ms-3 mt-1">
                <label for="readTime" class="form-label mt-1 reading-time"></label>
            </div>
            <div>
                <div class="col border p-0" style="background: #f5f5f5; height: 30px;">
                    <div class="row">
                        <label class="col-1 ps-4">
                            <i class="comments-count"></i>
                            <i class="bi bi-chat-left-text" id="chatImg"></i>
                        </label>
                        <label class="col-10"></label>
                        <label class="col-1 p-0">
                            <div class="me-3 ps-4">
                                <i id="countLikesInput"><span style="font-size: 1.0rem;" class="likes-count"></span></i>
                                <i class="bi bi-heart heartImg"></i>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
